__pycache__/
*.pyc
*.db
*.sqlite3
photo_cache/
live_cache.json
ultimo_aggiornamento.txt
simulazioni.db
bot_utenti.db
webapp_users.db
.env
webapp/backend/.env
webapp/backend/.env.txt
bool
dict
str
*.zip
node_modules/
