fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.2
stripe
python-multipart
pandas
numpy
scipy
psycopg2-binary
slowapi
customtkinter
scikit-learn
python-telegram-bot
Pillow
python-pptx
